@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Estilos base y Scrollbar --- */
body {
  background-color: #0b0c10;
  color: #c5c6c7;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0c10;
}
::-webkit-scrollbar-thumb {
  background: #1f2833;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #45a29e;
}